name: Application Build

on:
  workflow_dispatch:
  # push:
  #   branches:
  #   - main
  #   - develop
  # pull_request:
  #   branches:
  #     - main
  #     - develop

jobs:
  Build:
    runs-on: hitman
    name: Setup Nodejs & Application Build
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: Setup Nodejs
      run: Get-Content package.json
    

