name: Application Build

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - develop
  # pull_request:
  #   branches:
  #     - main
#     - develop
permissions:
  contents: read
  packages: read
  # To report GitHub Actions status checks
  statuses: write

jobs:
  Build:
    runs-on: ubuntu-latest
    name: Setup Nodejs & Application Build
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: Setup Node.js environment
      uses: actions/setup-node@v6.1.0
      with:
        node-version: 16.x
    
    - name: Super-Linter
      uses: super-linter/super-linter@v7.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
