name: Application Build

on:
  workflow_dispatch:
    inputs:
      runner_type:
        description: 'Select the runner to use'
        default: 'arc-runner-set'
        
  # push:
  #   branches:
  #   - main
  #   - develop
  # pull_request:
  #   branches:
  #     - main
  #     - develop
  
permissions:
  contents: read
  packages: read
  # To report GitHub Actions status checks
  statuses: write

env:
  RUNNER_LABEL: "arc-runner-set"

jobs:
  verify:
    runs-on: ${{ inputs.runner_type }}
    name: Verify ARC System
    steps:
      - name: OS Version
        run: cat /etc/*release*
        
      - name: python version check
        run: python3 --version
        
  ScanJob:
    runs-on: ${{ inputs.runner_type }}
    name: Scan Job (SonarQube Analysis)
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: SonarQube Analysis
      uses: SonarSource/sonarqube-scan-action@v6
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        
  LintJob:
    name: lint job
    runs-on: ${{ inputs.runner_type }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: Super-Linter
      uses: super-linter/super-linter@v7.1.0
      continue-on-error: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        VALIDATE_CSS: true
        VALIDATE_JAVASCRIPT_ES: true
        VALIDATE_JSON: true
        
  BuildJob:
    name: Build Job Package (Setup Nodejs & Build Artifact)
    runs-on: ${{ inputs.runner_type }}
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: Setup Node.js environment
      uses: actions/setup-node@v6.1.0
      with: 
        node-version: 16.x
        cache: 'npm'
        
    - name: Install Dependencies
      run: npm install

    - name: Build Artifact
      run: npm run build
      
     
    - name: Publish Build Artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        name: reactTodoUI-${{ github.run_id }}
        path: build
        
    - name: Echo Run ID
      run: echo "This workflow has run id - ${{ github.run_id }}"
        
  ReleaseJob:
    needs: BuildJob
    name: Download & Deploy Artifact Job
    runs-on: ${{ inputs.runner_type }}
    steps:
    - name: Download a Build Artifact
      uses: actions/download-artifact@v7.0.0
      with:
        name: reactTodoUI-${{ github.run_id }}
        
    - name: Download from current run id
      run: echo "This artifact downloaded from this run id - ${{ github.run_id }}"

    - name: List Files & Folder
      run: ls -l

    - name: Copy files via SSH
      uses: appleboy/scp-action@v1
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        source: "*"
        target: /home/${{ secrets.USERNAME }}/app
    
    - name: Deploy on VM
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: |
          cd /home/${{ secrets.USERNAME }}/app
          cp -r * /var/www/html

