name: Application Build

on:
  workflow_dispatch:
  push:
    branches:
    - main
    - develop
  # pull_request:
  #   branches:
  #     - main
  #     - develop
  
permissions:
  contents: read
  packages: read
  # To report GitHub Actions status checks
  statuses: write

jobs:
  ScanJob:
    runs-on: ubuntu-latest
    name: Scan Job (SonarQube Analysis)
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: SonarQube Analysis
      uses: SonarSource/sonarqube-scan-action@v6
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        
  LintJob:
    name: Lint Job (Super Linter)
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: Super-Linter
      uses: super-linter/super-linter@v7.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        VALIDATE_CSS: true
        VALIDATE_JAVASCRIPT_ES: true
        VALIDATE_JSON: true
        
  BuildJob:
    name: Build Job Package (Setup Nodejs & Build Artifact)
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      
    - name: Setup Node.js environment
      uses: actions/setup-node@v6.1.0
      with: 
        node-version: 16.x
        cache: 'npm'
        
    - name: Install Dependencies
      run: npm install

    - name: Build Artifact
      run: npm run build
      
     
    - name: Publish Build Artifact
      uses: actions/upload-artifact@v6.0.0
      with:
        name: reactTodoUI
        path: build
        
    - name: Echo Run ID
      run: echo "This workflow has run id - ${{ github.run_id }}"
        
  ReleaseJob:
    needs: BuildJob
    name: Download & Deploy Artifact Job
    runs-on: ubuntu-latest
    steps:
    - name: Download a Build Artifact
      uses: actions/download-artifact@v7.0.0
      with:
        name: reactTodoUI
        
    - name: Download from current run id
      run: echo "This artifact downloaded from this run id - ${{ github.run_id }}"
